.newsDetails {
  text-align: left;
}

.newsDetails img {
  width: 100%;
  height: auto;
}

.newsDetails a {
  color: blueviolet;
}

.newsDetails a:hover {
  color: rgb(43, 226, 220);
  text-decoration: underline;
}

.newsDetails h2,
.newsDetails h3 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.newsDetails figcaption {
  font-size: 0.875rem;
}
