.alert{
  background-color: rgba(216, 2, 253, 0.264);
  margin: 0;
  /* position: absolute;
  bottom: 200px; */
  width: 100%;
  height: 3rem;
  text-align: center;
  border: solid 2px rgb(148, 18, 218);
  border-radius: 0.5rem;
box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;}