.header {
  position: sticky;
  top: 0;
  z-index: 1;
  display: block;
  background-color: var(--bg-primary);
}

.nav img {
  max-width: 6rem;
  width: auto;
  height: auto;
}

.menuIcon {
  display: none;
  cursor: pointer;
}

.dropdownMenu {
  display: flex;
}

.nav a:hover {
  color: lightgreen;
}

@media (max-width: 768px) {
  .nav img {
    height: 2.8rem;
  }
  .nav a {
    display: block;
  }

  .dropdownMenu {
    display: none;
  }
  /* Hamburger menu */
  .menuIcon {
    display: block;
  }
  /* Hamburger container */
  .menuIconContainer {
    position: relative;
  }

  .displayMobileMenu {
    display: block;
    width: 100%;

    position: fixed;
    top: 4.8rem;
    left: 0;

    background-color: lightcoral;
  }
}
