.header {
  position: sticky;
  top: 0;
  z-index: 1;
  display: block;
  background-color: var(--bg-primary);
}

.nav img {
  max-width: 6rem;
  width: auto;
  height: auto;
}

.menuIcon {
  display: none;
  cursor: pointer;
}

.dropdownMenu {
  display: flex;
}

.nav a:hover {
  color: var(--text-secondary) !important;
}
@media (max-width: 768px) {
  .nav img {
    height: 5rem;
  }
  .nav li a {
    display: block;
    padding-left: 2rem !important;
  }

  .dropdownMenu {
    display: none;
  }
  /* Hamburger icon */
  .menuIcon {
    display: block;
  }
  /* Hamburger container */
  .menuIconContainer {
    position: relative;
  }
  /* Mobile menu */
  .displayMobileMenu {
    display: block;
    width: 100%;
    position: fixed;
    top: 4rem;
    left: 0;
    background-color: var(--bg-primary);
  }

  .overlay {
    background-color: #3a506b87;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 18rem;
    left: 0;
    z-index: -1;
  }
}
