/* Global variables */
:root {
  --text-primary: #3a506b;
  --text-secondary: #5bc0be;
  --text-dark: #1c2541;
  --text-light: #6fffe9;
  --text-verydark: #0b132b;

  --bg-primary: #3a506b;
  --bg-secondary: #5bc0be;
  --bg-light: #6fffe9;
  --bg-dark: #1c2541;
  --bg-verydark: #0b132b;
}

/* Restart default properties */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Merriweather Sans", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
}

/* Bootstrap Customization */
.btn-secondary {
  background-color: var(--bg-secondary) !important;
}

.text-primary {
  color: var(--text-primary) !important;
}

.text-secondary {
  color: var(--text-secondary) !important;
}

.text-light {
  color: var(--text-light) !important;
}

.text-dark {
  color: var(--text-dark) !important;
}

.bg-primary {
  background-color: var(--bg-primary) !important;
}

.bg-secondary {
  background-color: var(--bg-secondary) !important;
}

.bg-dark {
  background-color: var(--bg-dark) !important;
}

h1,
h2,
h3 {
  font-weight: bold;
  color: var(--bg-dark) !important;
}
